@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-shrink: 0;
  background-color: aquamarine;
  width: 330px;
  height: 470px;
  display: grid;
  grid-template-rows: 3fr 7fr;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

#display {
  background-color: #ffffff;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#prev-expression {
  flex: 1;
  padding: 1rem;
  font-size: 1.2rem;
}

#current-expression {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

#buttons {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}

#clear-button,#delete-button {
  grid-column: span 2;
}

.button {
  background-color: rgba(255, 255, 255, 0.774);
  font-size: 1.1rem;
  border: none;
  border-radius: 2rem;
}
