:root {
  --main-color : #9ceff3;
  --secondary-color: #e2fdff;
  --alternate-color : #1a725f9a;
  --accent-color: #1a725f;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-shrink: 0;
  background-color: var(--main-color);
  width: 330px;
  height: 470px;
  display: grid;
  grid-template-rows: 3.5fr 7fr;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

#display {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#prev-expression {
  flex: 1;
  padding: 1rem;
  font-size: 1.2rem;
}

#current-expression {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

#buttons {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}


.button {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  font-size: 1.3rem;
  border: none;
  border-radius: 2rem;
}

#clear-button,#delete-button {
  grid-column: span 2;
  font-size: 1.1rem;
  background-color: var(--alternate-color);
  color: var(--secondary-color);
}